* {
    box-sizing: border-box;
    margin: 0;
  }

body {
  background-color: #253140;
}

hr {
  color: white;
  margin-top: 30px;
  margin-left: 55px;
  width: 1800px;
}

input {
  margin-top: 30px;
  margin-left: 55px;
  background-color: #253140;
  border: 2px dashed white;
  color: white;
  width: 1800px;
  height: 50px;
}

div {
  width: 1800px;
  margin-top: 30px;
  margin-left: 55px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

button {
  height: 35px;
  background-color: #369C55;
  color: white;
  border: 0px;
}

textarea {
  background-color: #253140;
  border: 1px solid white;
  color: white;
  margin-top: 30px;
  margin-left: 55px;
  width: 1800px;
  height: 500px;
  resize: none;
}

textarea:focus {
  outline: none;
}

section {
  position: relative;
}

.save {
  position: absolute;
  margin-top: 25px;
  margin-left: 1725px;
  width: 150px;
  height: 50px;
  font-size: 1em;
}

button:hover {
  background-color: #23783d;
}

@media screen and (max-width: 500px){
  div {
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
  }
}

@media screen and (min-width: 850px) {
  div {
    grid-template-columns: repeat(5, 1fr);
  }
}