/*병합충돌 따위 두렵지 않아*/
/* ... */
/* 전체 */
* {
    box-sizing: border-box;
    margin: 0;
  }

  /*hello*/
  /* hi */

  /* 화면 Grid 방식 */
body {
  background-color: #253140;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(60px, 80px, 500px, 40px);
}

/* 게시글 제목 작성 부분 */
header {
  grid-row: 1/2;
  grid-column: 1/2;
}
/* 버튼 모여있는 부분 */
nav {
  grid-row: 2/3;
  grid-column: 1/2;
}

/* 내용 작성칸 */
section {
  grid-row: 3/4;
  grid-column: 1/2;
}

/* 게시판 작성 버튼 부분 */
footer {
  grid-row: 4/5;
  grid-column: 1/2;
}

hr {
  color: white;
  margin-top: 30px;
  width: 1800px;
}

/* 게시글 제목 작성 부분 */
input {
  margin-top: 30px;
  background-color: #253140;
  border: 2px dashed white;
  color: white;
  width: 1800px;
  height: 50px;
}

/* 버튼 묶음 */
div {
  width: 1800px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

/* 전체 버튼 디자인 */
button {
  height: 35px;
  background-color: #369C55;
  color: white;
  border: 0px;
}

/* 내용 입력창 */
textarea {
  background-color: #253140;
  border: 1px solid white;
  color: white;
  margin-top: 30px;
  width: 1800px;
  height: 500px;
  resize: none;
}

textarea:focus {
  outline: none;
}

/* '게시판 작성' 버튼 */
.save {
  margin-top: 25px;
  margin-left: 1650px;
  width: 150px;
  height: 50px;
  font-size: 1em;
}

button:hover {
  background-color: #23783d;
}

.textColor {
  grid-row: 1/2;
  grid-column: 1/2;
}

.textBackgroundColor {
  grid-row: 1/2;
  grid-column: 2/3;
}

.textSize {
  grid-row: 1/2;
  grid-column: 3/4;
}

.backgroundColor {
  grid-row: 1/2;
  grid-column: 4/5;
}

.textFont {
  grid-row: 1/2;
  grid-column: 5/6;
}


.img {
  grid-row: 2/3;
  grid-column: 1/2;
}

.strikethrough {
  grid-row: 2/3;
  grid-column: 2/3;
}

.sort {
  grid-row: 2/3;
  grid-column: 3/4;
}

.underscore {
  grid-row: 2/3;
  grid-column: 4/5;
}

.bullets {
  grid-row: 2/3;
  grid-column: 5/6;
}

/*모바일 화면 버전(모바일 가로, 모바일 세로 (해상도: ~ 768px))*/
@media all and (max-width:768px) {  
    
  input {
  width: 700px;
  }

  hr {
    width: 700px;
  }

  div {
    width: 700px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  textarea {
    width: 700px;
  }

  .save {
    margin-top: 20px;
    margin-left: 550px;
  }

  .textColor {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .textBackgroundColor {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .textSize {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .backgroundColor {
    grid-row: 1/2;
    grid-column: 4/5;
  }

  .textFont {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .img {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .strikethrough {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .sort {
    grid-row: 2/3;
    grid-column: 4/5;
  }

  .underscore {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .bullets {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}
