* {
    box-sizing: border-box;
    margin: 0;
  }

body {
  background-color: #253140;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(60px, 80px, 500px, 40px);
}

header {
  grid-row: 1/2;
  grid-column: 1/2;
}

nav {
  grid-row: 2/3;
  grid-column: 1/2;
}

section {
  grid-row: 3/4;
  grid-column: 1/2;
}

footer {
  grid-row: 4/5;
  grid-column: 1/2;
}

hr {
  color: white;
  margin-top: 30px;
  width: 1800px;
}

input {
  margin-top: 30px;
  background-color: #253140;
  border: 2px dashed white;
  color: white;
  width: 1800px;
  height: 50px;
}

/* 버튼 묶음 */
div {
  width: 1800px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

button {
  height: 35px;
  background-color: #369C55;
  color: white;
  border: 0px;
}

/* 내용 입력창 */
textarea {
  background-color: #253140;
  border: 1px solid white;
  color: white;
  margin-top: 30px;
  width: 1800px;
  height: 500px;
  resize: none;
}

textarea:focus {
  outline: none;
}

/* '게시판 작성' 버튼 */
.save {
  margin-top: 25px;
  margin-left: 1650px;
  width: 150px;
  height: 50px;
  font-size: 1em;
}

button:hover {
  background-color: #23783d;
}

.textColor {
  grid-row: 1/2;
  grid-column: 1/2;
}

.textBackgroundColor {
  grid-row: 1/2;
  grid-column: 2/3;
}

.textSize {
  grid-row: 1/2;
  grid-column: 3/4;
}

.backgroundColor {
  grid-row: 1/2;
  grid-column: 4/5;
}

.textFont {
  grid-row: 1/2;
  grid-column: 5/6;
}


.img {
  grid-row: 2/3;
  grid-column: 1/2;
}

.strikethrough {
  grid-row: 2/3;
  grid-column: 2/3;
}

.sort {
  grid-row: 2/3;
  grid-column: 3/4;
}

.underscore {
  grid-row: 2/3;
  grid-column: 4/5;
}

.bullets {
  grid-row: 2/3;
  grid-column: 5/6;
}
